.hero-title {
  color: $--hero-title-color;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
