body {
  font-family: "roboto", sans-serif;
  color: $--main-text-color;
  font-style: normal;
}

textarea {
  resize: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
